@media (max-width: 768px) {
  article {
    width: 100%;
  }

  header, nav, article > section:first-of-type, article > section:last-of-type, footer {
    margin: auto;
  }

  header {
    width: 480px;
    height: 75px;
    line-height: 75px;
  }

  nav {
    width: 480px;
    height: 150px;
    line-height: 150px;
  }

  article > section:first-of-type, article > section:last-of-type {
    width: 480px;
  }

  article > section:first-of-type div {
    width: 480px;
    height: 125px;
    line-height: 125px;
  }
  
  article > section:last-of-type div:first-child {
    float: left;
  }

  article > section:last-of-type div:nth-child(3) {
    float: left;
  }
  
  article > section:last-of-type div {
    display: inline-block;
    width: 240px;
    height: 250px;
    line-height: 250px;
  }

  footer {
    width: 480px;
    height: 80px;
    line-height: 80px;
  }
}

@media (min-width: 768px) {

  article {
    width: 960px;
    margin: auto;
  }
  header {
    max-width: 960px;
    min-width: 768px;
    height: 100px;
    line-height: 100px;
  }

  nav {
    width: 200px;
    height: 600px;
    line-height: 600px;
    float: left;
  }

  article > section:first-of-type, article > section:last-of-type {
    width: 760px;
    float: right;
  }

  article > section:first-of-type div {
    float: left;
    width: 380px;
    height: 200px;
    line-height: 200px;
  }
  
  article > section:last-of-type div {
    float: left;
    width: 190px;
    height: 250px;
    line-height: 250px;
  }

  footer {
    clear: right;
    float: right;
    width: 760px;
    height: 150px;
    line-height: 150px;
  }
}
